anyio==4.4.0
argon2-cffi==21.1.0  # Update to argon2-cffi
fastapi==0.112.1
peewee==3.17.6
pydantic==2.8.2
pydantic[email]==2.8.2  # Include the [email] extra
PyJWT==2.9.0
pytest==8.3.2
python-dotenv==1.0.1
uvicorn[standard]==0.22.0  # Ensure uvicorn is listed and has the appropriate version
psycopg2-binary==2.9.6